@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to Blazor WASM App, where Mediator pattern was implemented.</p>
<p>Please look at the code behind Weather.razor where Mediator starts the job.</p>

<p>Additionally, WeatherForecastQuery has behaviours:</p>
<ul>
    <li>cache</li>
    <li>validator</li>
</ul>
<p>For this exists mapper (from example DTO to VM).</p>
